{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Контакты</h1>

        {{> contactList}}
        <div class="buttonContainer">
            <button onclick="redirectToAddPage()" class="AddButton">Добавить</button>
        </div>
    </div>
    <script src="./redirect.js" type="text/javascript"></script>

</body>
</html> --}}




<div class="container">
    <h1>Контакты</h1>

    <!-- Здесь будет отображаться список контактов -->
 

    <div class="buttonContainer">
        <button onclick="redirectToAddPage()" class="AddButton">Добавить</button>
    </div>
</div>
<script src="./redirect.js" type="text/javascript"></script>